Options +FollowSymlinks

RewriteEngine On

# Silently sends URLs of the form /foo to /profile.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /handler.php [L]